:root {
    --pink:#f564f5;
    --bg:#0453fd;
    --shadow: 0 2px 2px rgba(0,0,0,0.5);
}

body {
    font-size: 1.6rem;
    font-family: 'Macondo', cursive;
    min-height: 4000px;
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    object-fit: fill;
    width: 100%;
    height: 100%;
    z-index: -1;
}

  .hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
  
  .hero {
    position: absolute;
    bottom: 0;
    color: #f1f1f1;
    width: 100%;
    min-width: 100%;
    min-height: 15%;
    width: 100%;
    height: 15%;
  }


.hero {
    position: relative;
    min-height: 100vh;
}

.hero h1, .hero h4, .hero p {
    text-shadow: var(--shadow);
}

.hero h4 {
    font-family: 'Macondo', cursive;
    font-size: 1.6rem;
}

.hero h1 {
    font-family: 'Sacramento', cursive;
    font-size: 6rem;
    color: #f564f5;
}

.hero a {
    color: var(--pink);
    background-color: rgb(95, 95, 95);
    box-shadow: var(--shadow);
    border-color: white;
}

.hero a:hover {
    background-color: var(--pink);
    color:rgb(255, 239, 20);
}

.mynavbar {
    background-color: rgba(255, 255, 255, 0.308) !important;
    backdrop-filter: blur(1px);
}

.mynavbar {
    height: 8vh;
}

.offcanvas {
    height: 100vh;
    width: 100vh;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-tittle {
    font-family: 'sacramento', cursive;
    padding-top: 20px;
    font-size: 3.2rem;
    font-weight: bold;
    color: rgb(247, 49, 181);
    z-index: 2;
}

.mynavbar .nav-link {
    font-weight: 600 ;
    text-transform: uppercase;
    padding-top: 10px;
    color: #f564f5;
}

.home {
    background-image: url(img/Home.png);
    background-size: cover;
    min-height: 100vh;
    padding-top: 10rem;
    padding-bottom: 8rem;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.home h2, 
.info h2,
.story h2,
.gallery h2,
.rsvp h2,
.gifts h2 {
    color: var(--pink);
    font-family: 'sacramento';
    font-size: 5rem;
    font-weight: bold;
}

.gifts .list-group-item {
    color: rgb(255, 255, 255) !important;
    font-family: 'arial';
    font-size: 5rem;
    font-weight: bold;
}

.home h3 {
    color: #444;
    font-size: 1.5rem;
    margin-bottom: 1rem;  
}

.home p {
    font-size: 1.1rem;
    color: #666;
}

.home .couple {
    margin-top: 100px;
}

.home .couple h3 {
    color: var(--pink);
    font-family: 'sacramento';
    font-size: 2.4rem;
}

.home .couple img {
    width: 100%;
}

.home .heart {
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(65px);
}

.home .heart i {
    margin: auto;
    color: var(--pink);
}

.info {
    background-image: url(img/Sasono\ Mulyo.png);
    background-size: cover;
    min-height: 100vh;
    padding-top: 10rem;
    padding-bottom: 8rem;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.info h2 {
    color: var(--pink);
    font-family: "sacramento";
    font-size: 6.8rem;
    font-weight: bold;
}

.info .alamat {
    font-size: 2rem;
    font-weight: 500;
    color: gold;
    text-shadow: var(--shadow);
}

.info a {
    color: var(--pink);
    background-color: rgb(95, 95, 95);
    box-shadow: var(--shadow);
}

.info a:hover {
    background-color: var(--pink);
    color:rgb(255, 239, 20);
}

.info .description {
    font-size: 2rem;
    color: gold;
    text-shadow: var(--shadow);
    font-weight: 500;
}

.info .card {
    background-color: rgba(99, 1, 112, 0.336) !important;
    color: rgb(255, 255, 255) !important;
    font-family: "Macondo";
    border: 1px rgb(17, 0, 252) !important;
    text-shadow: #444;
}

.info .card-header {
    border-top: 5px solid rgb(247, 49, 181);
    letter-spacing: 1px;
    font-size: 2.2rem;
}

.info .card-body {
    font-size: 1.5rem;
}

.info .card-footer {
    border-bottom: 2px solid rgb(247, 49, 181);
    font-size: 1.5rem;
}

.story,
.gallery {
    background-image: url(img/RoseField.png);
    display: absolute;
    padding-top: 2rem;
    padding-bottom: 40rem;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.story span,
.timeline span,
.gallery span {
    text-transform: uppercase;
    color: #fdfdfd;
    font-size: 1.5rem;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 1rem;
    text-shadow: var(--shadow);
}

.gifts span {
    text-transform: uppercase;
    color: gold;
    font-size: 1.5rem;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 1rem;
    text-shadow: var(--shadow);
}

.story p,
.gallery p,
.rsvp p,
.gifts p {
    font-size: 1.5rem;
    font-weight: 500;
    color: goldenrod;
    text-shadow: var(--shadow);
}

.timeline h3 {
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 10px;
    color: #f564f5;
    text-shadow: var(--shadow);
}

.timeline {
    list-style: none;
    padding: 1.4rem 0;
    margin-top: 1rem;
    position: relative;
}

.timeline::before {
    content: '';
    top: 0;
    bottom: 0;
    position: absolute;
    width: 1px;
    background-color: #ccc;
    left: 50%;
}

.timeline li {
    margin-bottom: 1.5rem;
    position: relative;
}

.timeline li::before,
.timeline li::after {
    content: '';
    display: table;
}

.timeline li::after {
    clear: both;
}

.timeline li .timeline-image {
    width: 160px;
    height: 160px;
    background-color: #ccc;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.timeline li .timeline-panel {
    width: 40%;
    float: left;
    border: 1px solid #ccc;
    padding: 2rem;
    position: relative;
    border-radius: 8px;

}

.timeline li .timeline-panel::before {
    content: '';
    display: inline-block;
    position: absolute;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    top: 70px;
    right: -15px;
}

.timeline li .timeline-panel::after {
    content: '';
    position: absolute;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    top: 71px;
    right: -13px;
}


.timeline li.timeline-inverted .timeline-panel {
    float: right;
}

.timeline li.timeline-inverted .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline li.timeline-inverted .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
}

.rsvp {
    background-image: url(img/Home.png);
    display: absolute;
    padding-top: 2rem;
    padding-bottom: 40rem;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.rsvp button {
    background-color: var(--pink);
    color: white;
    border: 1px solid var(--pink);
}

.gifts {
    background-image: url(img/Octopus.png);
    background-size: cover;
    min-height: 100vh;
    margin-top: -6rem;
    padding-top: 7rem;
    padding-bottom: 5rem;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

footer {
    padding: 0.00000000001rem;
    background-color: var(--pink);
    color: white;
    position:fixed;
    left:0px;
    bottom:0px;
    height:82px;
    width:100%;
}

footer a {
    color: rgb(88, 88, 88);
    font-weight: bold;
}

footer a:hover {
    color: rgb(212, 173, 0);
}

footer li {
    list-style: none;
    display: inline;
    margin: 0.5rem;
}

.audio-icon-wrapper {
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
    position: fixed;
    bottom: 2.5rem;
    right: 2rem;
    cursor: pointer;
    color: white;
    opacity: 0.5;
    mix-blend-mode: difference;
    animation: rotating 4s linear infinite;
    transform-origin: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
}

@keyframes rotating {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
    
}

.list-group-item {
    background-color: rgba(246, 192, 253, 0.726) !important;
    color: rgb(255, 255, 255);
    font-family: "Macondo";
    border: 1px rgb(17, 0, 252) !important;
    text-shadow: #444;
}

.list-group-item .d-block {
    font-size: 1.2rem;
    color: rgb(70, 70, 70);
    text-shadow: #000000;
}

@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);

.detailBox {
    width:320px;
    border:1px solid #bbb;
    margin:50px;
}

.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}

.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}

.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}

.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}

.actionBox .form-group * {
    width:100%;
}

.taskDescription {
    margin-top:10px 0;
}

.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}

.commentList li {
    margin:0;
    margin-top:10px;
}

.commentList li > div {
    display:table-cell;
}

.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}

.commenterImage img {
    width:100%;
    border-radius:50%;
}

.commentText p {
    margin:0;
}

.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}

.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}

/* Media Query */
/* Extra Large */
@media (max-width: 1200px){
    .home .heart {
        transform: translateX(-50%) translateY(45px);
    }

    #myVideo {
        position: absolute;
        right: 0;
        bottom: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

}

/* laptop */
@media (max-width: 992px){
    html {
        font-size: 75%;
    }

    .simply-countdown>.simply-section{
        padding: 70px;
    }

    .home .heart {
        display: none;
    }

    .timeline::before {
        left: 60px;
    }

    .timeline li .timeline-image {
        left: 15px;
        margin-left: 45px;
        top: 16px;
    }

    .timeline li .timeline-panel {
        width: calc((100% - 200px));
        float: right;
    }

    .timeline li .timeline-panel::before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    .timeline li .timeline-panel::after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -13px;
        right: auto;
    }

    .timeline li .timeline-image {
        width: 150px;
        height: 150px;
    }

    .timeline li .timeline-panel {
        width: 75%;
        transform: translateX(-20px);
        transform: translateY(10px);
    }

    footer {
        padding: 0.00000000001rem;
        background-color: var(--pink);
        color: white;
        position:fixed;
        left:0px;
        bottom:0px;
        height:55px;
        width:100%;
    }

    #myVideo {
        position: absolute;
        right: 0;
        bottom: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

}

/* tablet */
@media (max-width: 767px){
    html {
        font-size: 65%;
    }

    .simply-countdown>.simply-section{
        padding: 60px;
        margin: 5px;
    }

    .mynavbar {
        width:auto;
        overflow:hidden;
    }

    .mynavbar .nav-link {
        font-size: 2rem;
        text-align: center;
    }

    .sticky-top {
        overflow:hidden;
    }

    .timeline li .timeline-image {
        width: 140px;
        height: 140px;
    }

    .timeline li .timeline-panel {
        width: 70%;
        transform: translateX(-20px);
        transform: translateY(10px);
    }

    .gifts {
        background-image: url(img/Octopus.png);
    }

    footer {
        padding: 0.00000000001rem;
        background-color: var(--pink);
        color: white;
        position:fixed;
        left:0px;
        bottom:0px;
        height:50px;
        width:100%;
    }

    #myVideo {
        position: absolute;
        right: 0;
        bottom: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    
}

/* mobile Phone */
@media (max-width: 540px) {
    html {
        font-size: 60%;
    }
    
    .simply-countdown>.simply-section{
        padding: 45px;
        margin: 1px;
    }

    .mynavbar {
        width: auto;
        overflow: hidden;
    }

    .mynavbar .nav-link {
        font-size: 2rem;
        text-align: center;
    }

    .sticky-top {
        overflow:hidden;
    }

    .timeline li .timeline-image {
        width: 130px;
        height: 130px;
    }

    .timeline li .timeline-panel {
        width: 60%;
        transform: translateX(-20px);
        transform: translateY(10px);
    }

    .timeline li .timeline-panel::before {
        top: 61px;
    }

    .timeline li .timeline-panel::after {
        top: 62px;
    }

    .gifts {
        right: 20px;
    }

    .gifts {
        background-image: url(img/Octopus.png);
    }

    footer {
        padding: 0.00000000001rem;
        background-color: var(--pink);
        color: white;
        position:fixed;
        left:0px;
        bottom:0px;
        height:45px;
        width:100%;
    }

    #myVideo {
        position: absolute;
        right: 0;
        bottom: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

}

/* mobile Phone small*/
@media (max-width: 495px) {
    html {
        font-size: 60%;
    }
    
    .simply-countdown>.simply-section{
        padding: 40px;
        margin: 1px;
    }

    .mynavbar {
        width: auto;
        overflow: hidden;
    }

    .mynavbar .nav-link {
        font-size: 2rem;
        text-align: center;
    }

    .sticky-top {
        overflow:hidden;
    }

    .timeline li .timeline-image {
        width: 130px;
        height: 130px;
    }

    .timeline li .timeline-panel {
        width: 60%;
        transform: translateX(-20px);
        transform: translateY(10px);
    }

    .timeline li .timeline-panel::before {
        top: 61px;
    }

    .timeline li .timeline-panel::after {
        top: 62px;
    }

    .gifts {
        right: 20px;
    }

    .gifts {
        background-image: url(img/Octopus.png);
    }

    footer {
        padding: 0.00000000001rem;
        background-color: var(--pink);
        color: white;
        position:fixed;
        left:0px;
        bottom:0px;
        height:45px;
        width:100%;
    }

    #myVideo {
        position: absolute;
        right: 0;
        bottom: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

}

/* mobile Phone small1*/
@media (max-width: 485px) {
    html {
        font-size: 60%;
    }
    
    .simply-countdown>.simply-section{
        padding: 40px;
        margin: 1px;
    }

    .mynavbar {
        width: auto;
        overflow: hidden;
    }

    .mynavbar .nav-link {
        font-size: 2rem;
        text-align: center;
    }

    .sticky-top {
        overflow:hidden;
    }

    .timeline li .timeline-image {
        width: 130px;
        height: 130px;
    }

    .timeline li .timeline-panel {
        width: 60%;
        transform: translateX(-20px);
        transform: translateY(10px);
    }

    .timeline li .timeline-panel::before {
        top: 61px;
    }

    .timeline li .timeline-panel::after {
        top: 62px;
    }

    .gifts {
        right: 20px;
    }

    .gifts {
        background-image: url(img/Octopus.png);
    }

    footer {
        padding: 0.00000000001rem;
        background-color: var(--pink);
        color: white;
        position:fixed;
        left:0px;
        bottom:0px;
        height:45px;
        width:100%;
    }

    #myVideo {
        position: absolute;
        right: 0;
        bottom: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

}

/* mobile Phone small2*/
@media (max-width: 455px) {
    html {
        font-size: 60%;
    }
    
    .simply-countdown>.simply-section{
        padding: 40px;
        margin: 1px;
    }

    .mynavbar {
        width: auto;
        overflow: hidden;
    }

    .mynavbar .nav-link {
        font-size: 2rem;
        text-align: center;
    }

    .sticky-top {
        overflow:hidden;
    }

    .timeline li .timeline-image {
        width: 130px;
        height: 130px;
    }

    .timeline li .timeline-panel {
        width: 60%;
        transform: translateX(-20px);
        transform: translateY(10px);
    }

    .timeline li .timeline-panel::before {
        top: 61px;
    }

    .timeline li .timeline-panel::after {
        top: 62px;
    }

    .gifts {
        right: 20px;
    }

    .gifts {
        background-image: url(img/Octopus.png);
    }

    footer {
        padding: 0.00000000001rem;
        background-color: var(--pink);
        color: white;
        position:fixed;
        left:0px;
        bottom:0px;
        height:45px;
        width:100%;
    }

    #myVideo {
        position: absolute;
        right: 0;
        bottom: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

}

/* part 4/5 early */
